body {
    background-color: rgb(0, 96, 111);
    font: normal 18pt Arial
}

section#title {
    background: rgb(232, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 25px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 363);
}

div#text {
    color: white;
    font: bolder 22pt Arial;
    text-align: center;
}
section#block {
    background-color: rgb(0, 208, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 363);
}

div#theme {
    background-color: rgba(23, 73, 165, 0.886);
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 363);
    padding: 6px;
    height: auto;
    color: rgba(255, 255, 255, 0.893);
    font: bold 20pt Arial;
    text-align: center;
}

div#question {
    color: rgba(0, 0, 0, 0.92);
    font: bolder 22pt Arial;
    margin-top: 12px;
    text-align: left;
}

div#next {
    background-color: rgba(23, 73, 165, 0.886);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
    height: 34px;
}

footer {
    color: white;
    margin-top: 15px;
    text-align: center;
    font: normal 18pt Arial;
}
